.catalog {
	background-color: #141414;
	color: #fff;
	font-size: 16px;
	position: absolute;
	left: 0;
	top: 99%;
	z-index: 40;
	width: 100%;
}
.container {
}
.catalog__section {
	display: grid;
	grid-template: 1fr /repeat(5,1fr);
	justify-items: start;
	gap: 10px;
}
.subsection{
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	padding: 20px 0;
	
}
.catalog__item{

}
.catalog__title {
	height: 65px;
	display: flex;
	align-items: center;
}
.catalog__subtitles {
	margin-bottom: 20px;
}
.catalog__subtitle {
	margin-bottom: 20px;
}
.catalog.open-menu{
	display: block;
}
.catalog.close-menu{
	display: none;
}
/* @media (max-width:769px) {
	.catalog{
		display: none;
	}
} */